# Statistics

In [9]:
from scipy import stats
import pandas as pd
import numpy as np
from cassandra.cluster import Cluster
from cassandra.metadata import KeyspaceMetadata

In [10]:
cluster = Cluster(["172.20.16.137"], port=30241)
keyspace_name = "sensorhub"
session = cluster.connect(keyspace_name)

In [16]:
query = "SELECT sensor, datum, relativehumidity, suntime, temperatureat2meter FROM erti_new WHERE datum >= '2017-01-01 00:00:00' AND  datum <= '2017-01-31 23:59:00' AND sensor=1"
df = pd.DataFrame(list(session.execute(query)))

In [17]:
df.head()

   sensor               datum  relativehumidity  suntime  temperatureat2meter
0       1 2017-01-01 00:00:01              85.5      0.0                 -7.2
1       1 2017-01-01 00:10:01              85.6      0.0                 -7.2
2       1 2017-01-01 00:20:01              85.9      0.0                 -7.1
3       1 2017-01-01 00:40:11              85.8      0.0                 -8.4
4       1 2017-01-01 00:50:01              86.5      0.0                 -7.9

In [22]:
df.isnull().values.any()

False

## Pearson correlation coefficient

In [23]:
stats.pearsonr(df['relativehumidity'], df['temperatureat2meter'])

(0.040186248878884494, 0.012677006707960455)

In [24]:
stats.pearsonr(df['suntime'], df['temperatureat2meter'])

(nan, 1.0)

In [25]:
df['suntime']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
6       0.0
7       0.0
8       0.0
9       0.0
10      0.0
11      0.0
12      0.0
13      0.0
14      0.0
15      0.0
16      0.0
17      0.0
18      0.0
19      0.0
20      0.0
21      0.0
22      0.0
23      0.0
24      0.0
25      0.0
26      0.0
27      0.0
28      0.0
29      0.0
       ...
3817    0.0
3818    0.0
3819    0.0
3820    0.0
3821    0.0
3822    0.0
3823    0.0
3824    0.0
3825    0.0
3826    0.0
3827    0.0
3828    0.0
3829    0.0
3830    0.0
3831    0.0
3832    0.0
3833    0.0
3834    0.0
3835    0.0
3836    0.0
3837    0.0
3838    0.0
3839    0.0
3840    0.0
3841    0.0
3842    0.0
3843    0.0
3844    0.0
3845    0.0
3846    0.0
Name: suntime, Length: 3847, dtype: float64

In [26]:
df['suntime'][2000]

0.0

In [27]:
df['suntime'][2000:2100]

2000    0.0
2001    0.0
2002    0.0
2003    0.0
2004    0.0
2005    0.0
2006    0.0
2007    0.0
2008    0.0
2009    0.0
2010    0.0
2011    0.0
2012    0.0
2013    0.0
2014    0.0
2015    0.0
2016    0.0
2017    0.0
2018    0.0
2019    0.0
2020    0.0
2021    0.0
2022    0.0
2023    0.0
2024    0.0
2025    0.0
2026    0.0
2027    0.0
2028    0.0
2029    0.0
       ...
2070    0.0
2071    0.0
2072    0.0
2073    0.0
2074    0.0
2075    0.0
2076    0.0
2077    0.0
2078    0.0
2079    0.0
2080    0.0
2081    0.0
2082    0.0
2083    0.0
2084    0.0
2085    0.0
2086    0.0
2087    0.0
2088    0.0
2089    0.0
2090    0.0
2091    0.0
2092    0.0
2093    0.0
2094    0.0
2095    0.0
2096    0.0
2097    0.0
2098    0.0
2099    0.0
Name: suntime, Length: 100, dtype: float64

Well, of course it's NaN, all of the suntime values are 0.0